@import url("https://fonts.googleapis.com/css?family=Raleway");

body {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

#__nuxt .form--label {
  margin-bottom: 5px;
}

#__nuxt .el-form-item.is-success .el-input__inner,
#__nuxt .el-form-item.is-success .el-input__inner:focus,
#__nuxt .el-form-item.is-success .el-textarea__inner,
#__nuxt .el-form-item.is-success .el-textarea__inner:focus {
  border: 1px solid #dcdfe6;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}

.page-enter,
.page-leave-to {
  opacity: 0;
}

.container {
  max-width: 1200px;
  margin: 40px auto;
}

#__nuxt .el-radio--small.is-bordered {
  margin-bottom: 10px;
}
